# Server port - The port on which the application will run (default: 3000)
PORT=4000

# App package name - Your application's unique identifier.  Make sure it exactly matches the package name in the MentraOS Developer Console
PACKAGE_NAME=seeniq-mentra

# API key - Your MentraOS developer API key from the MentraOS Developer Console (never commit the key to source control)
MENTRAOS_API_KEY=

SEENIQ_API_BASE_URL=http://staging.seeniq.app
SEENIQ_API_KEY=
SEENIQ_PERSONA_VERSION_ID=43

# Use Vite dev server (set to 'true' for local development, remove or set to 'false' for production)
USE_VITE_DEV=true

# Vite requires VITE_ prefix for frontend environment variables
VITE_AUDIO_URL=NGROK_LINK_HERE/assets/audio/one_more_time.mp3
